.navbar-container {
  background-color: rgb(77, 77, 77);
  .navbar {
    margin-top: 15px;
    margin-bottom: 15px;
    .navbar-tab {
      font-weight: 200px;
      margin-right: 20px;
      margin-left: 25px;
      color: rgb(162, 162, 162);
    }
    .navbar-tab-selected {
      font-weight: 200px;
      margin-right: 20px;
      margin-left: 25px;
      color: rgb(255, 255, 255);
    }
    .navbar-tab:hover {
      color: rgb(255, 255, 255);
    }
  } 
}

